<a href="https://colab.research.google.com/github/Amritpal0008/ML-PROJECTS/blob/main/SVR(Supportvectorregression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PREDICT THE PRICE OF HOUSE IN BANGLORE**

USING LINEAR REGRESSION

In [2]:
import pandas as pd

In [3]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB"
df = pd.read_csv(path)

In [4]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

SPLIT DATA

In [5]:

X=df.drop("price",axis=1)  #gives data except price
#X is capital,(independent) because it represents matrix while y is a vector,(dependent)
y=df["price"]
X.head()

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,2,6916.666667,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y.head()

0    150.0
1    149.0
2    150.0
3     40.0
4     83.0
Name: price, dtype: float64

In [7]:
print("shape of X:",X.shape)
print("shape of y:",y.shape)

shape of X: (7120, 107)
shape of y: (7120,)

**train_test_split() is a scikit-Learn class help to Split data in
to 4 dataset (like: X_train, X_test, y_train, y_test.) **

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51) #20%testing ke liye baaki 80% for training of model
print("sahpe of X_train:",X_train.shape)
print("sahpe of y_train:",y_train.shape)
print("sahpe of X_test:",X_test.shape)
print("sahpe of y_test:",y_test.shape)

sahpe of X_train: (5696, 107)
sahpe of y_train: (5696,)
sahpe of X_test: (1424, 107)
sahpe of y_test: (1424,)

#FEATURE SCALING
## we need to scale independent to train the model perfectly it normalizes the values across all data between 0 and 1

In [9]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

#No need to transform dependent

In [10]:
X_test

array([[ 0.71301986,  0.0112734 ,  0.30202307, ..., -0.05630391,
        -0.05630391, -0.05138463],
       [-0.44274597,  0.55008644, -0.58028511, ..., -0.05630391,
        -0.05630391, -0.05138463],
       [ 1.86878568,  0.55008644,  0.62450413, ..., -0.05630391,
        -0.05630391, -0.05138463],
       ...,
       [-1.59851179,  0.55008644, -1.03304852, ..., -0.05630391,
        -0.05630391, -0.05138463],
       [-0.44274597, -0.74630813, -0.38550655, ..., -0.05630391,
        -0.05630391, -0.05138463],
       [-0.44274597, -2.0427027 ,  0.12917322, ..., -0.05630391,
        -0.05630391, -0.05138463]])

#SUPPORT VECTOR REGRESSION - ML MODEL TRAINING

generally we don't use support vector for regreession we use support vector for classification

In [12]:
from sklearn.svm import SVR

BY USING radial basis function kernal

In [14]:
SVR_rbf=SVR(kernel='rbf')
SVR_rbf.fit(X_train,y_train)
SVR_rbf.score(X_test,y_test)

0.20638035840828173

By using linear

In [16]:
SVR_linear=SVR(kernel='linear')
SVR_linear.fit(X_train,y_train)
SVR_linear.score(X_test,y_test)

0.7962656700653191

by using polynomial

In [19]:
SVR_poly=SVR(kernel='poly',degree=2)
SVR_poly.fit(X_train,y_train)
SVR_poly.score(X_test,y_test)

0.18266215211874637

by using sigmoid

In [18]:
SVR_sigmoid=SVR(kernel='sigmoid')
SVR_sigmoid.fit(X_train,y_train)
SVR_sigmoid.score(X_test,y_test)

0.4867409362089056

In [24]:
y_predict=SVR_linear.predict(X_test)
y_predict

array([ 86.53643947,  33.70344615, 122.48608154, ...,  26.23978561,
        64.52625061, 176.17288975])

In [23]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

In [25]:
import numpy as np

In [27]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_predict)
rmse=np.sqrt(mse)
mse,rmse

(4093.6210385966133, np.float64(63.98141166461251))